// .payment-form {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .card-element-wrapper {
//   width: 100%;
//   padding: 10px;
//   border: 1px solid #ccd0d2;
//   border-radius: 4px;
//   margin-bottom: 20px;
// }

// .payment-button:disabled {
//   background-color: #9e9e9e;
// }

.mask-box {
  border-radius: 20px;
  position: relative;
  background: #e5cfff;
  box-shadow: 1px 1px 2px rgb(165, 165, 165) inset;
}
.mask-box .mask {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background: #8400ed;
  position: absolute;
  box-shadow: 1px 0 2px #b473ff;
  transition: all 0.5s ease;
}
.mask-box .MuiButton-root {
  border-radius: 20px;
  width: 100px;
  height: 40px;
  font-weight: bold;
  transition: all 0.2s 0.1s ease;
}
.mask-box .MuiButton-root:hover {
  opacity: 0.8;
}
