// .p-inputnumber-button.p-button.p-button-secondary {
//   background-color: #007ad9; /* Adjust this to match the theme */
//   border-color: #007ad9;
//   color: white;
// }

// .p-inputnumber-button.p-button.p-button-secondary:hover {
//   background-color: #005bb5; /* Adjust this to match the theme */
//   border-color: #005bb5;
// }

// .p-inputnumber-button.p-button.p-button-secondary:disabled {
//   background-color: #ccc; /* Adjust disabled state */
//   border-color: #ccc;
// }

// decrementButtonClassName="p-button-secondary"
// incrementButtonClassName="p-button-secondary"
.p-button-secondary {
    background-color: #3b82f6; /* Adjust this to match the theme */
    border-color: #3b82f6;
    color: white;
    width: 2.2em;
    border-radius: 5px;
    padding: 6px 2px;
}
